.panel-form {
            margin: 10px auto;
        }

        .panel-rowmargin
        {
            margin-left:10px;
            margin-right:10px;
        }

        .alert-text {
            color: #ff6a00;
        }

